<!DOCTYPE html>
<html>
<head>
    <title>Berties Books</title>
</head>
<body>
    <h1>Welcome to Berties Books</h1>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/books/list">List of books</a></li>
        <li><a href="/books/addbook">Add a book</a></li>
        <li><a href="/books/search">Search for a book</a></li>
        <li><a href="/books/bargainbooks">Bargain books</a></li>
    </ul>
</body>
</html>