<!DOCTYPE html>
<html>
<head>
    <title>Berties Books</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
    <h1>Welcome to Berties Books</h1>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/books/list">List of books</a></li>
        <li><a href="/books/addbook">Add a book</a></li>
        <li><a href="/books/search">Search for a book</a></li>
        <li><a href="/books/bargainbooks">Bargain books</a></li>
        <li><a href="/users/register">Register</a></li>
        <li><a href="/users/login">Login</a></li>
        <li><a href="/users/list">List of users</a></li>
    </ul>
</body>
</html>