<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="POST" action="/users/loggedin">
        <p>
            <label for="username">Username:</label>
            <input id="username" name="username" type="text" required />
        </p>
        
        <p>
            <label for="password">Password:</label>
            <input id="password" name="password" type="password" required />
        </p>
        
        <input type="submit" value="Login" />
    </form>
    <br>
    <a href="/">Home</a>
</body>
</html>